[submodule "docs/recipes"]
	path = docs/recipes
	url = https://github.com/ab12gu/recipes
[submodule "docs/electronics"]
	path = docs/electronics
	url = https://github.com/ab12gu/electronics.git
[submodule "docs/networking"]
	path = docs/networking
	url = https://github.com/ab12gu/networking.git
[submodule "docs/audio"]
	path = docs/audio
	url = https://github.com/ab12gu/audio.git
[submodule "docs/software-tools"]
	path = docs/software-tools
	url = https://github.com/ab12gu/software-tools.git
[submodule "docs/manufacturing"]
	path = docs/manufacturing
	url = https://github.com/ab12gu/manufacturing.git
[submodule "docs/design"]
	path = docs/design
	url = https://github.com/ab12gu/design.git
[submodule "docs/software/hacking"]
	path = docs/software/hacking
	url = https://github.com/ab12gu/hacking.git
